
@import './styles/_variables.scss';
@import './styles/mixins.scss';
@import './styles/_typography.scss';

@import './styles/_speedoMeter.scss';

@import './styles/_card.scss';
@import './styles/grid.scss';
@import './styles/_navigation.scss';

@import './styles/_footer.scss';
@import './styles/_popup.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translate(-10rem);
    }
    80% {
        transform: translate(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translate(10rem);
    }
    80% {
        transform: translate(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 40rem;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    @include respond(tab-port) {
        padding: 0;
    }
}

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: .5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 16px;
}

.btn:hover {
    transform: translateY(-3);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active {
    transform: translateY(-1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn--white::after {
    background-color: #fff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--animated {
    animation: moveInBottom 1s ease-out .75s;
    animation-fill-mode: backwards;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("assets/img/vinod.JPG");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    position: relative;
background-attachment: fixed;
}
@media only screen and (max-width: 600px) {
    .header {
        background-attachment: scroll;
    }
   
  }
  @media (min-width: 500px) and (min-height: 400px) {
    .ChatBox-Modal{
        width: 90%;
    }
}
.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}
svg#clouds {
    position: relative;
    //bottom: -160px;
    //left: -230px;
   // z-index: -10;
    width: 100%
  }
.header__logo {
    height: 3rem;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.section-about {
  background-color: $color-grey-light-1;
  margin-top: -20vh;
  padding: 25rem 0px;
  @include respond(tab-port) {
    padding: 20rem 0;
    }
}
.section-Work{
  background-color: $color-grey-light-1;
  margin-top: -20vh;
  padding: 25rem 0px;
}

.u-ceneter-text {
  text-align: center;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.ChatBox {
    &-Container{
        z-index: 100000;
        background: #000000e3;
        position: fixed;
        height: 100vh;
        width: 100%;
        margin: auto;
        overflow: auto;
        top: 0;
        left: 0;
        
    }
    
    &-Modal{
        height: 90vh;
        border-radius: 10px;
        width: 30%;
        margin: auto;
        position: relative;
        margin-top: 20px;
        background: #cdc6ce;
        transform:scale(0);
        &.in{
            transform:scaleY(.01) scaleX(0);
            animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
        &.out {
            transform:scale(1);
            animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
    }
    &-chat-textfield{
        position: absolute;
        bottom: 10px;
        width: 100%;
        padding: 5px;
        
        textarea{
            width: 90%;
            border-radius: 3px;
            height: 60px;
        }
    }
}
@keyframes unfoldIn {
    0% {
      transform:scaleY(.005) scaleX(0);
    }
    50% {
      transform:scaleY(.005) scaleX(1);
    }
    100% {
      transform:scaleY(1) scaleX(1);
    }
  }
  @keyframes unfoldOut {
    0% {
      transform:scaleY(1) scaleX(1);
    }
    50% {
      transform:scaleY(.005) scaleX(1);
    }
    100% {
      transform:scaleY(.005) scaleX(0);
    }
  }
  #loader{
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
  }
  
  svg {
      height: 100%;
      width: 100%;
    }
    path{
      stroke: #fff;
      stroke-width: 1px;
      fill: none;
      stroke-dasharray: 150, 200;
      stroke-dashoffset: 0;
      animation: pulse 8s infinite linear;
  
    }
  
  @keyframes pulse {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 1050;
    }
  }